<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/upload" enctype="multipart/form-data" >
        <input type="file" name="img">  <!-- name key typre is value -->
        <input type="text" placeholder="email" name="name">
        <input type="text" placeholder="password" name="password">
        <button>Submit</button>
    </form>
</body>
</html>